.msgSucesso{
	color: green;
}

.msgError{
	color: red;
}

.loginMsgError{
color: red;	
}


/* header css */

.header-container {
	border-bottom: 2px solid;
}
header {
	margin-top: 50px;
	
}
header h1, header h4 {
	text-align: center;
}
header h4 {
		color: #33691e;
    font-family: "Roboto Condensed",Verdana,sans-serif;
    font-size: 0.750em;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.03125rem;
    margin-bottom: 30px;
    text-transform: uppercase;
}
header h1 {
	font-size: 2.250em;
	line-height: 0.78;
	margin: 0;
}
header .header-images {
	text-align: center;
	
}
.header-images img {
	margin-right: 36px;
	height: 36px;
}

.navbar {
	height: 60px;
	display: flow-root;
}
.home-menu-icon{
	color: #ffffff;
	font-size: 32px;
	cursor: pointer;
	float: left;
	margin-top: 8px;
	margin-right: 10px;
}
.home-menu-text{
  
	font-size: 23px;
	float: left;
	margin-top: 6px;
}

.btn-logout {
	float: right;
	margin-top: 9px;
	margin-right: 20px;
	color: #ffffff !important;
	font-weight: bold;
}

.content-container {
	padding-top: 0px;
	padding-right: 31px;

}

.content-container .sidenav__list .sidenav__item {
	list-style-type: none;
	margin-bottom: 25px;
}

.content-container .sidenav__list .sidenav__item .material-icons {
	vertical-align: text-bottom;
}

.content-container .sidenav__list .sidenav__item .sidenav__item-text {
	margin-left: 8px;
	font-size: 23px;
	margin-right: 33px;
	cursor: pointer;
}


.content-container .right-content {
	background-color: #ededee;
	background: linear-gradient(to right, #d2d2d3, #ededee 10px );

}

.content-container .right-content .card-image .card-img-top {
	height : 310px;
	cursor: pointer;
}

@media screen and (max-width:992px) {
	.content-container .right-content .card-image .card-img-top {
		height : 250px;
	}
}

@media screen and (max-width:768px) {
	.content-container .right-content .card-image .card-img-top {
		height : 100%;
	}
}


.content-container .right-content .image-title div {
	height: 40px;
	display: block;
	box-shadow: 0px 2px 3px #909091;
	padding-left: 10px;
	padding-top: 8px;
}

.content-container .right-content .img-div {
	margin-bottom: 25px;
}

raised:not([disabled]):hover {
	background-color: rgb(244,81,30);
}
.md-button.md-raised:not([disabled]) {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.md-button.md-default-theme.md-warn.md-fab, .md-button.md-warn.md-fab, .md-button.md-default-theme.md-warn.md-raised, .md-button.md-warn.md-raised {
	color: rgb(255,255,255);
	background-color: rgb(255,87,34);
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 10px;
}
.food-row-1{
	margin-bottom: 10px;
}
li.ng-scope {
	list-style-type: none;
	border-bottom: 1px dotted;
	margin-bottom: 11px;
}